body{
    width: 100vh;
    height: 100vh;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    background-color: rgb(240, 244, 249);
    display:flex;
    flex-direction: column;
    font-size:0.875rem;
    font-weight:400;
    letter-spacing: 0rem;
    line-height: 1.4285;
    color-scheme: light;

}
*{
    margin: 0%;
    box-sizing:border-box;
}
.TopSapce{
    width:25%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 0 20vh;
    margin-top: 40vh;
    border-radius: 5px;
    background-color: white;
    
    box-shadow: 0 0 0  white;
    
    
    
    /* background-color: white; */
    /* border: 1px solid black; */
    

}
.one{
    width:50%;
    display: flex;
    flex-direction: column;

   
}
.one h3{
    font-weight: normal;
}
.Name{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left:0px;
    min-width: fit-content
    
    
    
    /* padding: 1%;
    margin:1%; */
}
footer{
    display:flex;
    justify-content: space-between;
    margin: 0px 20vh;
}
footer ul{
    display: flex;
    gap:10px;
    list-style: none;

}

.Name Button{
    background-color: blue;
    color:aliceblue;
    border-radius: 5px;
    border:none;
    align-self:;
}

.Name p a{
    text-decoration: none;
}

.Name a{
    text-decoration: none;
}

.Name p{
    
}